WEBSERVER=webserver-7.4.x
WEBSERVER_PORT=80
WEBSERVER_PORT_SSL=443
DOCUMENT_ROOT=./www
VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./config/php/php.ini

DATABASE=mysql
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=docker
MYSQL_PASSWORD=docker
MYSQL_DATABASE=docker

PHPMYADMIN_PHP_INI=./config/phpmyadmin/phpmyadmin-misc.ini
REDIS_PORT=6379
REDIS_COMMANDER_PORT=8082
