body {
  background-color: #bababa;
  width: 380px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.head {
  text-align: center;
}

.container-body {
  background-color: #fff;
  padding: 10px;
}
